<header>

</header>


<!-- <main id="base-form">
  <app-carousel></app-carousel>
  <div class="shadow-top"></div>
  <section class="header__container">
    <div>
      <div class="header__content">
        <h1 class="header__title">
          Disfruta estar en casa<br />
          <span>Vive en SANTORINI</span>
        </h1>
        <h2 class="header__subtitle">
          Descubre la comodidad de nuestros amplios modelos, con cochera para 2
          autos.
        </h2>

        <div class="flex justify:center-m justify:start-tb">
          <a class="whatsapp-icon icon whatappForm">
            <img
             data-src="assets/icons/wp.svg"
              alt="whatsapp"
              width="26"
              height="26"
            />
            Contáctanos
          </a>
          <a href="https://www.instagram.com/ruba.saltillo/" target="_blank">
            <img
             data-src="assets/icons/ins.svg"
              alt="instagram"
              width="26"
              height="26"
            />
          </a>
          <a href="https://www.facebook.com/RubaSaltillo" target="_blank">
            <img
             data-src="assets/icons/fbk.svg"
              alt="messenger"
              width="26"
              height="26"
            />
          </a>
          <a href="https://www.tiktok.com/@ruba.saltillo" target="_blank">
            <img
             data-src="assets/icons/ttk.svg"
              alt="messenger"
              width="26"
              height="26"
            />
          </a>
        </div>
      </div>
      <div>
        <app-form></app-form>
      </div>
      <div class="header__house">
        <img data-src="assets/rubaW.png" alt="Ruba llegaste a casa" width="1px" />
      </div>
    </div>
  </section>
  <div class="next-section"></div>
</main> -->
