<main id="base-form" class="base-form footer">
  <section id="contacto">
    <div class="info-footer">
      <img class="logo" data-src="assets/vonetto_logo.svg" width="300px" />
      <p class="info-footer-p">
        Una alternativa de vivienda que está dentro de la ciudad y no en las
        afueras, su ubicación te permitirá estar cerca de los que más quieres.
      </p>
      <ul>
        <li>
          <a
            href="https://www.facebook.com/vonettoresidencial/"
            target="_blank"
          >
            <img data-src="assets/icons/fbk.svg" alt="facebook" width="24px" />
            {{ "/VonettoResidencial" }}
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/vonetto.residencial.monterrey/"
            target="_blank"
          >
            <img data-src="assets/icons/ins.svg" alt="instagram" width="24px" />
            {{ "VonettoResidencial" }}
          </a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/zzGdLHNa5sf8QrAt7" target="_blank">
            <img
              data-src="assets/icons/map-icon-w.svg"
              alt="map"
              width="24px"
            />
            67294 Monterrey, N.L.
          </a>
        </li>
        <li>
          <a>&copy; Ruba Monterrey 2024</a>
        </li>
      </ul>
      <div class="logos">
        <a href="https://ruba.mx/ruba-casa" target="_blank">
          <img class="sec" data-src="assets/rubaW.png" height="60px" />
        </a>
        <img class="sec" data-src="assets/icons/44-anios 1.svg" height="60px" />
      </div>
      <span>
        <a href="https://ruba.mx/aviso-de-privacidad" target="_blank"
          >Aviso de privacidad</a
        >
        <a href="https://ruba.mx/terminos-y-condiciones" target="_blank"
          >Términos y condiciones</a
        >
        <a href="https://ruba.mx/contratos-de-adhesion" target="_blank"
          >Contratos de adhesión</a
        >
      </span>
      <a class="digital" href="https://digitalbooting.com" target="_blank"
        >Sitio web diseñado y desarrollado por Digital Booting | Agencia
        Creativa de Marketing Digital</a
      >
    </div>
  </section>
</main>
