<header class="header base-form">
  <div class="header__container">
    <app-navbar></app-navbar>

    <div class="header__wrapper">
      <div class="header__content">
        <img class="header__logo" data-src="assets/vonetto_logo.svg" alt="logo" />

        <h1 class="header__title">
          Dile hola a<br /><span
            >TU NUEVO ESTILO DE VIDA</span
          >
        </h1>

        <div class="header__social">
          <a href="https://www.instagram.com/vonetto.residencial.monterrey/" target="_blank">
            <img data-src="assets/icons/instagram.svg" alt="icon" />
          </a>
          <a href="https://www.facebook.com/vonettoresidencial/" target="_blank">
            <img data-src="assets/icons/facebook.svg" alt="icon" />
          </a>
          <!-- <a href="">
            <img data-src="assets/icons/facebook.svg" alt="icon">
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <app-carousel></app-carousel>
</header>
