<section class="welcome" id="conoce-vonetto">
  <div class="welcome__content">
    <div class="pv:4">
      <img data-src="assets/vonetto_logo_color.svg" alt="" />
      <p class="welcome__paragraph">
        Más que un desarrollo, es el punto de partida de una nueva historia, no
        solo es un lugar donde vivir es el lugar donde los sueños se sienten
        posibles.
      </p>
      <button class="button-primary open-form">
        QUIERO VIVIR LA EXPERIENCIA
      </button>
    </div>
  </div>
  <div class="mini-carousel">
    <app-carousel
      [class]="'carousel__slider-images-thin'"
      [images]="imagesCarousel"
    ></app-carousel>
  </div>
</section>
