<section class="location" id="ubicacion">
  <div class="location__content">
    <h2 class="location__title">UBICACIÓN</h2>

    <div class="location__list">
      <ul class="location__column">
        <div class="location__icons">
          <img data-src="assets/icons/map-icon.svg" alt="check" />
          <li>67294 Monterrey, N.L.</li>
        </div>
      </ul>
      <ul class="location__column">
        <div class="location__icons">
          <img data-src="assets/icons/phonee.svg" alt="check" />
          <li><a href="tel:8117632438">(811) 763 2438</a></li>          
        </div>
      </ul>
    </div>

    <div class="location__map">
      <iframe
        class="frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.11158570317!2d-100.10519182458339!3d25.601208077453133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662c3003dee0287%3A0xec042cdb4f4a6cf!2sVonetto%20Residencial!5e0!3m2!1ses-419!2smx!4v1731601942055!5m2!1ses-419!2smx"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
