<section class="welcome">
  <div class="welcome__content">
    <div>
      <img data-src="assets/vonetto-icon.svg" alt="" />
      <p class="welcome__paragraph">
        Experimenta vivir en la zona de Valle Condesa con un entorno donde la
        armonía entre dise­ño y funcionalidad reflejan tu estilo de vida.
      </p>
      <button class="button-primary open-form">MÁS INFORMACIÓN</button>
    </div>
  </div>
  <div class="image-content">
    <img data-src="assets/map-image.png" />
  </div>
</section>
