<div class="aviso-nom247 flex justify:center items:center">
  <div class="aviso-nom247__content animate__animated" data-animated="animate__fadeInUp" data-animation-delay="1000ms">
      <p class="pt:2 t:center">Hubo una actualización en el aviso de privacidad, <a href="https://ruba.mx/aviso-de-privacidad/" target="_blank" rel="noopener noreferrer" class="color:primary">haz clic aquí</a> para enterarte.</p>

      <div class="flex justify:center mt:2">
          <button id="closePop" class="amenidades__button" aria-label="Ver mas detalles" (click)="onClose()">
              Aceptar aviso de privacidad
          </button>
      </div>
      <p class="pt:1 t:center size:small opacity:6">Acepta el aviso de privacidad para continuar</p>
  </div>
</div>
